* {
  font-family: 'Raleway', sans-serif;
  }
 
  #Hebergements, #Activites, h2, .item, #more, #lieux, #Rechercher, #lieux
  {
    font-weight: bold;
  }
 
  #environnement, #plus_logements, .complement, .link, .nav
  {
    color: grey;
  }
  
  a
  {
    text-decoration: none;
  }

  .star
  {
    color: #0065FC;
  }

  #logo_et_nav
  {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
  }

  #header_infos
  {
    display: flex;
    flex-direction: column;
  }

  #logo_Booki
  {
    width: 85px;
    height: 55px;
    padding: 35px;
  }

  h1
  {
    font-size: 20px;
    margin: 0px 30px 13px 20px;
  }

 #environnement
  {
    font-size: 15px;
    margin: 0px 30px 15px 20px;
    padding: 0px;
  }

  form
  {
    margin: 10 30px 35px 2P0px;
  }

  #filtre
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  input
  {
    border: 1px whitesmoke solid; 
    /* display: inline-block; */
  }

  input[type="text"]
  {
    padding: 9px;
    border: 0px;
  }

  #maps
  {
    background-color: grey;
    padding: 9px;
    border: 0px;
    border-radius: 12 0 0 12px;
  }

  #Rechercher
  {
    background-color: #0065FC;
    color: white;
    padding: 9px;
    border: 0px;
    border-radius: 0 12px 12px 0;
  }


  .filtre
  {
    background-color: #cce2f5;
    border-radius :s
  }

  .nav:hover
  {
    color: #0065FC;
    text-decoration: overline #0065FC;
  }

  .nav
  {
    margin-left: 30px;
  }

  .item a, #more, #city, .option
  {
    color: black;
  }

  footer, section
  {
    background-color: #F2F2F2;
  }

  h2
  {
    font-size: 20px;
  }

  img 
  {
    border-radius: 30px;
    width: 250px;
    height: 100px;
  }

  .p
  {
    border-radius: 20px;
    width: 125px;
    height: 130px;
  }

  main
  {
    display: flex;
    flex-direction: row;
  }

  #container1, #container2
  {
    border-radius: 20px;
    background-color: #F2F2F2;
  }

  #container1
  {
   display: flex; /** appeler la propriété flex **/
   flex-direction: column; /** déf de mon axe ppal **/
   margin-right: 60px;
   margin-top: 30px;
   margin-left: 30px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
  }

  #container2
  {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
  }

  .block
  {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    justify-content: space-around; /* à voir si nécéssaire de conserver */ 
  }

  /* .item
  {
    background-color: white; 
  } */
  