* {
  font-family: 'Raleway', sans-serif;
  }
 
  body
  {
    margin: 0; /* redéfinition de la margin à 0 */
  }

  header, main
  {
    max-width: 1280px;
    margin: 10 auto;  
  }

  #Hebergements, #Activites, h2, h3, #afficher_plus, #lieux, #Rechercher, p, span
  {
    font-weight: bold;
  }
 
  #ville_nature, #plus_logements, .prix, .link, .footer_link, .nav
  {
    color: grey;
  }

  .prix
  {
    font-size: 14px;
  }
  
  a
  {
    text-decoration: none;
  }

  .star, .star_position
  {
    color: #0065FC;
    font-size: 12px;
  }

  .star_position
  {
    position: absolute;
    bottom: 15px;
  }

  #logo_et_nav
  {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    /* position: fixed; */
  }

  #header_infos
  {
    display: flex;
    flex-direction: column;
  }

  #logo_Booki
  {
    height: 55px;
    padding: 35px;
  }

  h1
  {
    font-size: 20px;
    margin: 0px 30px 13px 20px;
  }

 #ville_nature
  {
    font-size: 15px;
    margin: 0px 30px 15px 20px;
    padding: 0px;
  }

  form
  {
    display: flex;
    margin: 10px 30px 35px 20px;
  }

  #filtres
  {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
  }

  span
  {
    display: flex;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    height: 35px;
    padding: 0 15px 0 0;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;  
  }

  span:hover
  {
    background-color: rgb(226, 240, 247);
    color: #0065FC;
    box-shadow: 3px 3px 8px #0065FC;
  }

  .fa-coins, .fa-child, .fa-heart, .fa-cat
  {
    color: #0065FC;
    border: 13px #cce2f5 solid;
    border-radius: 25px;
    padding: 3px 5px 1px 3px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background-color: #cce2f5;
  }



  input
  {
    border: 1px #F2F2F2 solid;
    margin: 0px;
  }

  input[type="text"]
  {
    padding: 11px 14px;
    font-size: 15px;
  }

  #maps
  {
    background-color: whitesmoke;
    padding: 13px 16px 15px 16px;
    border: 0px;
    border-radius: 12px 0 0 12px;
  }

  #Rechercher 
  {
    background-color: #0065FC;
    color: white;
    left: -10px; 
    padding: 13px 16px;
    border: 0;
    outline: none; /* à creuser pour fusionner bouton rechercher à gauche */
    border-radius: 0 12px 12px 0;
    font-size: 15px;
  }

  .fa-info
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;    
    margin-top: 10px;
    margin-left: 10px;
    color: #0065FC;
    font-size: 12px;
    border: 1px #F2F2F2 solid;
    border-radius: 25px;
    height: 20px;
    width: 30px;
    

  }

  #flex_point_i
  {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 25px;
  }

  #plus_logements
  {
    margin-left: 20px;
    padding-top: 0;
  }

  .nav:hover
  {
    color: #0065FC;
    border-top: 1px solid blue;
  }

  .nav
  {
    margin-left: 30px;
    margin-right: 40px;
    padding-top: 10px;
    border-top: 1px solid white;
    display: inline-block;
  }

  h3, .item_act_duo a, .item_act_solo a, .item_heb, .item_pop a, #afficher_plus, #lieux
  {
    color: black;
  }

  #afficher_plus
  {
    padding: 20px 100px 10px 20px;
  }

  h2
  {
    font-size: 20px;
    margin: 20px 50px 4px 16px;
  }

  h3
  {
    font-size: 15px;
  }

  .img_heb
  {
    border-radius: 20px 20px 0 0;
    width: 220px;
    height: 105px;
    object-fit: cover;
    padding: 4px;
  }

  .item_heb
  {
    background-color: white;
    box-shadow: 3px 5px 15px rgb(202, 198, 198);
    border-radius: 20px;
    line-height: 0.6;
    margin: 13px;
  }

  .img_pop
  {
    border-radius: 20px 0 0 20px;
    width: 125px;
    height: 130px;
    object-fit: cover;
  }

  .item_pop
  {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    box-shadow: 3px 5px 15px rgb(202, 198, 198);
    border-radius: 22px;
    line-height: 0.9;
    margin: 20px 0 30px 15px;
    padding: 4px 4px 2px 4px;
  }

  .flex_info_pop
  {
    float: right;
    padding: 0 15px 15px 15px;
  } 

  .img_act_solo
  {
    border-radius: 20px 20px 0 0; 
    width: 270px;
    height: 355px;
    object-fit: cover;
  }

  #img_act_duo_fort
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 170px;
    object-fit: cover;
  }

  #img_act_duo_iles
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 98px;
    object-fit: cover;
  }

  #img_act_duo_dame
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 130px;
    object-fit: cover;
  }

  #img_act_duo_parc
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 138px;
    object-fit: cover;
  }

  .item_act_solo, .item_act_duo
  {
    /* border-radius: 30px; */
    margin: 15px 40px 60px 0;
  }

  .item_act_solo
  {
    display: flex;
    flex-direction: row;
  }

  .item_act_duo
  {
    display: flex;
    flex-direction: column;
  }

  .margin_item_act
  {
    margin-top: 35px;
  }

  #container_activites a 
  {
    background-color: white;
    box-shadow: 3px 5px 15px rgb(202, 198, 198);
    border-radius: 21px;
  }

  #container_activites h3
  {
    padding-left: 10px;
  }

  #container_hebergements, #container_populaires
  {
    border-radius: 20px;
    background-color: #F2F2F2;
  }

  #container_hebergements
  {
   display: inline-flex; /** appeler la propriété flex **/
   flex-direction: column; /** déf de mon axe ppal **/
   margin: 0px 20px 20px 35px;
   padding: 15px 15px 30px 15px;
  }

  .flex_info_heb
  {
    padding: 0 15px 10px 10px;
  }

  #container_populaires
  {
    display: inline-flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 13px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 15px;
  } 

  #flex_titrelogo_pop
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fa-chart-line
  {
    padding-top: 15px;
    font-size: 20px;
  }

  #container_activites
  {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 0px 15px 30px 35px;
  
  }

  .bloc_heb
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around;  à voir si nécéssaire de conserver */ 
  }

  #Activites
  {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
  }

  footer
  { 
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-around; 
    background-color: #F2F2F2;
  }

  footer nav
  {
    line-height: 1.7;
  }
  