* {
  font-family: 'Raleway', sans-serif;
  }
 
  body
  {
    margin: 0; /* redéfinition de la margin à 0 */
  }

  header, main
  {
    max-width: 1280px; /* centrer la page */
    margin: 10px auto; 
  }

  #logo_nav
  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    z-index: 2; /* place logo_nav au dessus de img_pop */
  }

  #logo_Booki
  {
    height: 55px;
    padding: 35px;
  }

  .nav
  {
    margin-left: 30px;
    margin-right: 40px;
    padding-top: 10px;
    border-top: 1px solid white;
    display: inline-block;
  }

  .nav:hover
  {
    color: #0065FC;
    border-top: 1px solid #0065FC;
  }

  #header_infos
  {
    display: flex;
    flex-direction: column;
  }

  h1
  {
    font-size: 20px;
    margin: 0px 30px 13px 20px;
  }

  #ville_nature
  {
    font-size: 15px;
    margin: 0px 30px 15px 20px;
    padding: 0px;
  }

  form
  {
    display: flex;
    margin: 10px 30px 35px 20px;
  }

  input
  {
    border: 1px #F2F2F2 solid;
    margin: 0px;
  }

  input[type="text"]
  {
    padding: 11px 14px;
    font-size: 15px;
  }

  #maps
  {
    background-color: whitesmoke;
    padding: 13px 16px 15px 16px;
    border: 0px;
    border-radius: 12px 0 0 12px;
  }

  #Rechercher 
  {
    background-color: #0065FC;
    color: white;
    padding: 13px 16px;
    border: 0;
    border-radius: 0 12px 12px 0;
    font-size: 15px;
    cursor: pointer;
  }

  #filtres
  {
    display: flex;
    margin-left: 35px; 
  }

  span
  {
    display: flex;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    height: 35px;
    padding: 0 15px 0 0;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;
  }

  span:hover
  {
    background-color: rgb(226, 240, 247);
    color: #0065FC;
    box-shadow: 3px 3px 8px #0065FC;
  }

  .fa-coins, .fa-child, .fa-heart, .fa-cat
  {
    color: #0065FC;
    border: 13px #cce2f5 solid;
    border-radius: 25px;
    padding: 3px 5px 1px 3px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background-color: #cce2f5;
  }

  #plus_logements
  {
    margin-left: 20px;
    padding-top: 0;
  }

  .fa-info
  {
    display: flex;
    justify-content: center;
    padding-top: 10px;    
    margin-top: 10px;
    margin-left: 10px;
    color: #0065FC;
    font-size: 12px;
    border: 1px #F2F2F2 solid;
    border-radius: 25px;
    height: 20px;
    width: 30px;
  }

  #flex_point_i
  {
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
  }  

  #Hebergements, #Activites, h2, h3, #h3_line_height, #afficher_plus, #lieux, #Rechercher, p, span, ::placeholder
  {
    font-weight: bold;
  }
 
  #ville_nature, #plus_logements, .prix, .link, .footer_link, .nav
  {
    color: grey;
  }

  h3, #h3_line_height, .item_act_duo a, .item_act_solo a, .item_heb, .item_pop a, #afficher_plus, #lieux, ::placeholder
  {
    color: black;
  }

  h2
  {
    font-size: 20px;
    margin: 20px 50px 4px 16px;
  }

  h3, #h3_line_height
  {
    font-size: 15px;
  }

  #h3_line_height
  {
    line-height: 1.2;
    margin-bottom: 5px;
    margin-top: 12px;
  }

  .prix
  {
    font-size: 14px;
  }

  a
  {
    text-decoration: none;
  }

  .star_blue
  {
    display: flex;
    color: #0065FC;
    font-size: 12px;
  }

  .star_grey
  {
    display: flex;
    color: rgb(202, 198, 198);
  }

  .star_blue_position
  {
    display: flex;
    position: absolute;
    bottom: 15px;
    color: #0065FC;
    font-size: 12px;
  }

  #container_hebergements, #container_populaires
  {
    border-radius: 20px;
    background-color: #F2F2F2;
  }

  #Hebergements
  {
    height: 20px;
    width: 100%;
  }

  #container_hebergements
  {
   display: inline-flex;
   flex-wrap: wrap;
   margin: 0px 20px 20px 35px;
   padding: 15px 15px 30px 15px;
   max-width: 774px;
  }

  .item_heb
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 228px;
    background-color: white;
    box-shadow: 3px 5px 15px rgb(202, 198, 198);
    border-radius: 20px;
    line-height: 0.6;
    margin: 13px;
  }

  @keyframes bounce { /* créer les keyframes */
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

  .item_heb:hover
  {
    animation: bounce 1s;
  }

  .img_heb
  {
    border-radius: 20px 20px 0 0;
    width: 220px;
    height: 105px;
    object-fit: cover;
    padding: 4px;
  }

  .flex_info_heb
  {
    padding: 0 15px 10px 10px;
  }
  
  #afficher_plus
  {
    padding: 20px 100px 10px 20px;
  }

  #container_populaires
  {
    display: inline-flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 13px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 15px;
  } 

  #flex_titrelogo_pop
  {
    display: flex;
    justify-content: space-between;
  }

  .fa-chart-line
  {
    padding-top: 15px;
    font-size: 20px;
  }

  .item_pop
  {
    display: flex;
    position: relative;
    background-color: white;
    box-shadow: 3px 5px 15px rgb(202, 198, 198);
    border-radius: 22px;
    line-height: 0.9;
    margin: 20px 0 28px 15px; 
    padding: 4px 4px 2px 4px;
  }

  .item_pop:hover
  {
    animation: bounce 1s;
  }

  .img_pop
  {
    border-radius: 20px 0 0 20px;
    width: 125px;
    height: 130px;
    object-fit: cover;
    z-index: 1; /* place img_pop en dessous de logo_nav  */
  }

  .info_pop
  {
    float: right;
    padding: 0 15px 15px 15px;
  } 

  #container_activites
  {
    display: flex;
    border-radius: 20px;
    margin: 0px 15px 30px 35px;
  }

  .item_act_solo
  {
    display: flex;
  }

  .item_act_duo
  {
    display: flex;
    flex-direction: column;
  }

  .item_act_solo, .item_act_duo
  {
    margin: 15px 40px 60px 0;
  }

  #container_activites a 
  {
    background-color: white;
    box-shadow: 3px 5px 15px rgb(202, 198, 198);
    border-radius: 21px;
  }

  .margin_item_act
  {
    margin-top: 35px;
  }

  #Activites
  {
    display: flex;
    margin-left: 35px;
  }

  #Activites_media
  {
    display: none;
  }

  #container_activites h3
  {
    padding-left: 10px;
  }

  .img_act_solo
  {
    border-radius: 20px 20px 0 0; 
    width: 270px;
    height: 355px;
    object-fit: cover;
  }

  #img_act_duo_fort
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 170px;
    object-fit: cover;
  }

  #img_act_duo_iles
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 98px;
    object-fit: cover;
  }

  #img_act_duo_dame
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 130px;
    object-fit: cover;
  }

  #img_act_duo_parc
  {
    border-radius: 20px 20px 0 0;
    width: 270px;
    height: 138px;
    object-fit: cover;
  }

  footer
  { 
    display: flex;
    margin: 0;
    justify-content: space-around;
    background-color: #F2F2F2;
  }

  footer nav
  {
    padding: 0px 120px 30px 35px;
    line-height: 1.7;
  }

  .footer_link
  {
    padding-top: 20px;
  }
    

  /* ------- // -------- TABLETTE -------- // ------- */
  @media screen and (min-width: 768px) and (max-width: 992px)
  {

    #header_infos
    {
      align-items: center;
    }

    #logo_nav
    {
      justify-content: space-around;
    }

    .nav
    {
      padding-top: 40px;
    }

    .fa-search
    {
      display: none;
    }

    #filtres
    {
      margin-right: 15px;
    }

    #Hebergements, #Activites, h2
    {
      font-size: 22px;
    }

    h2
    {
      margin: 0px 50px 10px 16px;
    }

    #container_hebergements
    {
      display: flex;
      max-width: none;
      justify-content: space-around;
      width: 94%;
      margin-left: 8px;
      margin-top: 45px;
    }

    #Hebergements
    {
      display: flex;
      justify-content: center;
    }

    .item_heb
    {
      display: block;
      width: 42%;
    }

    .img_heb
    {
        width: 97%;
    }

    #afficher_plus
    {
      padding: 19px 23px 6px 222px;
    }

    #container_populaires
    {
      display: flex;
      flex-direction: column;
      margin: 45px 20px 20px 15px;
      padding: 15px 15px 30px 8px;
      width: 94%;
    }

    #flex_titrelogo_pop 
    {
      display: flex;
      justify-content: center;
    }

    .fa-chart-line
    {
      padding-top: 4px;
      padding-left: 50px;
    }

    #flex_media_pop
    {
      display: flex;
    }

    .item_pop
    {
      display: block;
      flex-direction: row;
      width: 30%;
      margin-left: 12px;
    }

    .img_pop
    {
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 105px;
    }

    .info_pop
    {
      float: none;
      display: flex;
      flex-direction: column;
    } 

    #container_activites 
    {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    #Activites
    {
      justify-content: center;
      margin-top: 45px;
    }

    .flex_act_media
    {
      display: flex;
    }

    .item_act_duo 
    {
      display: flex;
      flex-direction: column;
    }

    .item_act_solo, .item_act_duo
    {
      padding-top: 20px;
      margin-top: 0;
      width: 270px;
    }

    .item_act_solo:hover, .item_act_duo:hover
    {
      animation: bounce 1s;
    }

    .img_act_solo
    {
      width: 270px;
      height: 355px;
    } 

    footer nav 
    {
      padding-right: 116px;
    }

  }

  @media screen and (min-width: 830px) and (max-width: 992px)
  {

    .img_heb 
    {
      width: 98%;
    }

  }
  

  /* ---------- // -------- M O B I L E ------ //---------- */ 
  @media screen and (max-width: 767px) 
  {

    #logo_nav
    {
      flex-direction: column;
      justify-content: center;
    }

    #logo_Booki
    {
      display: flex;
      height: 45px;
      margin: auto;
    }

    .nav
    {
      width: 49%;
      margin: 0;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 3px solid transparent; 
    }

    .nav:hover
    {
     border-top: none;
     border-bottom: 3px solid #0065FC;
    }

    h1
    {
      font-size: 23px;
      margin-top: 20px;
    }

    #ville_nature
    {
      font-weight: lighter; /* voir pour plus de finess */
      color: black; 
    }

    input[type="text"] 
    {
      padding: 14px 14px;
    }

    #Rechercher 
    {
      display: none;
    }

    .fa-search
    {
      background-color: #0065FC;
      color: white;
      padding: 13px 16px;
      border: 0;
      border-radius: 12px;
      font-size: 15px;
      cursor: pointer;
    }


    #filtres
    {
      display: block;
      margin-left: 30px
    }

    #filtre p
    {
      display: block;
      width: 100%;
    } 

    span
    {
      display: inline-flex;
      margin-bottom: 10px;
      margin-left: 0;
    }

    #plus_logements
    {
      font-weight: lighter;
      color: black;
    }

    #container_populaires, #container_hebergements, #container_activites
    {
      border-radius: 0;
    }

    #Hebergements, #Activites, h2
    {
      font-size: 24px;
      margin-bottom: 28px;
      margin-left: 0;
    }

    #flex_order_media
    {
      display: flex;
      flex-direction: column;
    }

    #container_hebergements
    {
      display: block;
      width: 100%;
      background-color: white;
      margin: 0;
      padding: 0;
      order: 2;
    }

    #Hebergements
    {
      padding-left: 30px;
      margin-top: 30px;
      width: auto;
    }

    .item_heb
    {
      width: 90%;
      padding: 0;
      margin: 0 0 14px 30px;
      
    }

    .item_heb a
    {
      display: block;
      width: 100%;
    }

    .img_heb
    {
      width: 99%;
      height: 135px;
    }

    .flex_info_heb
    {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      line-height: 0.1;
      margin-left: 6px;
    }

    h3, #h3_line_height
    {
      font-size: 16px;
    }

    .star_blue
    {
      font-size: 14px;
    }

    .star_grey 
    {
        font-size: 1em;
    }

    .prix
    {
      margin-top: 6px;
      margin-bottom: 18px;
      font-size: 16px;
      font-weight: lighter;
      color: black;
    }

    #afficher_plus
    {
      padding-left: 30px;
      font-size: 19px;
    }

    #container_populaires
    {
      width: 100%; 
      margin: 0;
      padding: 0 0 30px 0;
      order: 1;
    }

    #flex_titrelogo_pop
    {
      padding: 20px 30px 0 30px;
    }

    .item_pop
    {
      width: 90%;
      height: 137px;
      margin: 0 30px 15px 30px;
    }

    .img_pop
    {
      height: 134px;
    }

    .info_pop
    {
      display: flex;
      flex-direction: column;
    }

    #container_activites
    {
      width: 100%;
      margin: 22px;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }

    #Activites
    {
      margin-top: 50px;
      padding-left: 30px;
    }

    .fa-chart-line
     {
        padding-top: 19px;
        padding-right: 10px;
        font-size: 25px;
     }

     .item_act_solo
     {
       display: flex;
       flex-direction: column;
       width: 90%;
       margin: 0;
       padding-left: 30px;
     }

     .img_act_solo
     {
       width: 100%;
       height: 140px;
     }

     .item_act_duo
     {
       width: 90%;
       padding-left: 30px;
       margin: 0;
     }

    #img_act_duo_fort, #img_act_duo_iles, #img_act_duo_parc, #img_act_duo_dame 
     {
        width: 100%;
        height: 140px;
     }

     #container_activites a
     {
       margin-top: 0;
       margin-bottom: 25px;
     }

    footer
    {
      flex-direction: column;
      width: 100%;
      margin-top: 30px; 
    }

  }

  @media screen and (max-width: 729px) and (min-width: 676px)
  {

    .item_heb, .item_act_solo, .item_act_duo
    {
      width: 91%;
    }

    .item_heb
    {
      padding-left: 3px;
    }

    .img_heb
    {
      width: 99%;
      padding: 2px;
      padding-top: 5px
    }

  }

  @media screen and (max-width: 674px) and (min-width: 516px)
  {

    .img_heb
    {
      width: 98%;
      padding-left: 6px;
    }

  }

  @media screen and (max-width: 512px) and (min-width: 434px)
  {

    .img_heb 
    {
      width: 98%;
    }

    .item_heb, .item_pop
    {
      margin-left: 21px;
    }

    .item_act_solo, .item_act_duo
    {
      padding-left: 20px;
    }

  }

  @media screen and (max-width: 433px) and (min-width: 394px)
  {
    .item_heb, .item_act_solo, .item_act_duo
    {
      width: 87%;
    }

    .item_pop
    {
    width: 85%;
    }

    .img_heb 
    {
      width: 98%;
    }

    #Hebergements, #Activites, h2, .fa-chart-line, h1 
    {
      font-size: 22px;
    }

  }

  @media screen and (max-width: 393px) and (min-width: 372px)
  {

    .item_pop
    {
      width: 83%;
    }

    .info_pop
    {
      padding: 0;
      padding-left: 15px;
    }

    .star_blue_position
    {
    font-size: 11px;
    }

    .item_heb 
    {
      width: 85%;
    }

    .img_heb 
    {
      width: 98%;
    }

    .prix, h3, #h3_line_height
    {
      font-size: 15px;
    }

    .star_blue 
    {
      font-size: 12px;
    }

    .item_act_solo, .item_act_duo
    {
      width: 85%;
    }

    #Hebergements, #Activites, h2 
    {
      font-size: 22px;
    }

    #afficher_plus 
    {
      font-size: 17px;
    }

    h1 
    {
      font-size: 21px;
    }

  }

  @media screen and (max-width: 371px) and (min-width: 363px)
  {

    h1 
    {
      font-size: 21px;
    }
    #Hebergements, #Activites, h2, .fa-chart-line 
    {
      font-size: 23px;
    }

    .item_heb 
    {
      width: 87%;
    }

    .img_heb
    {
      width: 97%;
      padding-left: 5px;
    }

    .star_blue 
    {
      font-size: 12px;
    }


    .item_pop 
    {
      width: 85%;
      margin-left: 25px;
    }

    .info_pop
    {
      padding: 0;
      padding-left: 13px;
    }

    h3, #h3_line_height 
    {
      font-size: 15px;
    }

    .prix
    {
      font-size: 15px;
    }

    .item_act_solo, .item_act_duo
    {
      width: 85%;
    }

  }

  @media screen and (max-width: 364px) and (min-width: 359px)
  {

    #Hebergements, #Activites, h2, .fa-chart-line 
    {
      font-size: 22px;
    }

    .item_heb
    {
      width: 88%;
      margin-left: 20px;
    }

    .img_heb 
    {
      width: 97%;
      height: 105px;
      padding-left: 5px;
    }

    #flex_titrelogo_pop
    {
      padding-left: 20px;
    }

    .fa-chart-line
    {
      padding-right: 0;
    }

    h3, #h3_line_height 
    {
      font-size: 14px;
    }

    .prix
    {
      font-size: 14px;
    }

    .item_pop 
    {
      width: 87%;
      margin-left: 20px;
    }

    .item_act_solo, .item_act_duo
    {
      width: 85%;
    }

}

@media screen and (max-width: 358px) and (min-width: 320px)
{


  #Hebergements, #Activites, h2, .fa-chart-line
  {
    font-size: 19px;
  }

  h1
  {
    font-size: 20px;
  }

  .item_pop
  {
    height: 115px;
    margin-left: 15px;
  }

  .img_pop
  {
    height: 112px;
  }

  .info_pop
  {
    padding: 0;
    padding-left: 10px;
  }

  h3, #h3_line_height, .prix
  {
    font-size: 12px;
  }

  .star_blue_position
  {
    font-size: 11px;
  }

  #flex_titrelogo_pop 
  {
    padding-left: 15px;
  }

  .fa-chart-line
  {
    padding-right: 0;
  }

  #Hebergements, #Activites
  {
    padding-left: 15px;
  }

  .item_heb
  {
    margin-left: 15px;
  }

  .img_heb 
  {
    width: 97%;
    height: 119px;
  }

  #afficher_plus 
  {
    font-size: 17px;
    padding-left: 18px;
  }

  .item_act_solo, .item_act_duo
  {
    padding-left: 15px;
  }

}







  

    

   
